


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw;
    
}
h2{
    max-width: 50vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #CFCFC5;
    font-size: 5vw;
}
.header {
    
    max-width: 85%;
    text-align: left;
    font-size: 30px;
    padding: 40px;
    color: white;
    margin: 15%;
    margin: auto;
    
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform-origin: rotateX(-10deg);
    }
    
    to{
        opacity: 1;
        transform-origin: rotateX(0);
    }
}

@-moz-keyframes transitionIn{
    from{
        opacity: 0;
        -moz-transform: rotateX(-10deg);
    }
    
    to{
        opacity: 1;
        -moz-transform: rotateX(0);
    }
}

@-webkit-keyframes transitionIn{
    from{
        opacity: 0;
        -webkit-transform: rotateX(-10deg);
    }
    
    to{
        opacity: 1;
        -webkit-transform: rotateX(0);
    }
}




p {
    font-family: Arial, Helvetica, sans-serif;
    color: #CFCFC5;
    font-size: 15px;
    line-height: 2;
}


.column {
    margin: 7.5%;
    min-width: 200px;
    max-width: 35%;
    float: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
    color: white;
}

i{
    font-size: 20px;
}

body {
    -moz-animation: transitionIn 3s;
    -webkit-animation: transitionIn 3s;
    animation: transitionIn 3s;
    background-color: #1F2833;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23293544' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23334153'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");    color: white;
    background-repeat:repeat;
	background-attachment:fixed;
    margin: 15%;
    margin: auto;
}



a{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: grey;
    top: -5px;
}


footer {
    padding: 40px;
    color: #45A29E;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

hr{
    border: none;
    height: 1px;
    background: #45A29E;
    max-width: 85%;
}



#home {
    margin-top: 2%;
    margin-right: 97%;
    margin-left: 3%;
    display: inline-block;
    position: fixed;
}
#resume {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 95%;
    display: inline-block;
    position: fixed;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
nav {
    font-family: 'Source Code Pro', monospace;
    color: #45A29E;
    text-align: center;
    font-size: 25px;
}

li {
    color: #45A29E;
    margin-right: 2%;
}
.experience {
    max-width: 85%;
    margin: inherit;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contact {
    max-width: 85%;
    font-family: 'Source Code Pro', monospace;
    color: #45A29E;
    margin: inherit;
    padding: 10px;
    padding-bottom: 80px;
}

html {
    scroll-behavior: smooth;
}

.quote {
    padding: 40px;
    color: #45A29E;
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

